<div class="container">
  <h1>{{selectedPg.address}}</h1>


  <div style="margin-top: 30px;"><strong>Address: </strong> {{selectedPg.address}}</div>
  <div><strong>Location: </strong> {{selectedPg.location}}</div>
  <div><strong>NearBy: </strong> {{selectedPg.nearby}}</div>
  <div><strong>Type: </strong> {{selectedPg.type}}</div>
  <div><strong>Cost: </strong> {{selectedPg.cost}}</div>
  <div><strong>Thumbnail: </strong> {{selectedPg.thumbnail}}</div>
  <div><strong>Facilities: </strong> {{selectedPg.facilities}}</div>
  <div><strong>Gender: </strong> {{selectedPg.Gender}}</div>
  <div><strong>Email: </strong> {{selectedPg.email}}</div>
  <div><strong>Password: </strong> {{selectedPg.password}}</div>


</div>
