<div class="container">
  <h1>Add PGDetails</h1>

  <div class="row" style="margin-top: 30px;">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Address</label>
        <input [(ngModel)]="address" type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">location</label>
        <input [(ngModel)]="location" type="text" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">nearby</label>
        <input [(ngModel)]="nearby" type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Type</label>
        <input [(ngModel)]="type" type="text" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Cost</label>
        <input [(ngModel)]="cost" type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Thumbnail</label>
        <input [(ngModel)]="thumbnail" type="text" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Facilities</label>
        <textarea [(ngModel)]="facilities" rows="5" class="form-control"></textarea>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Gender</label>
        <textarea [(ngModel)]="gender" rows="5" class="form-control"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <button (click)="onAdd()" class="btn btn-success">Add</button>
      <button (click)="onCancel()" class="btn btn-danger" style="margin-left: 10px">Cancel</button>
    </div>
  </div>
</div>
